# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribuição / Build
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
txt.txt
